[submodule "emacs/development/git/frame-restore.el"]
	path = emacs/development/git/frame-restore.el
	url = https://github.com/dougbeal/frame-restore.el
[submodule "emacs/development/git/nose"]
	path = emacs/development/git/nose
	url = https://github.com/dougbeal/nose
[submodule "git/gist.sh"]
	path = git/gist.sh
	url = https://github.com/dougbeal/gist.sh.git
